var qContent = {
  qType: "assess",
  topic: "{{ lessons[item|int]['synopisis']|join('། ') }}",
}

var {{ lesson_name }}{{ item }}r0 = [
  qContent,
];
var {{ lesson_name }}{{ item }}r2 = [
  qContent,
];
