var qContent = {
  qType: "assess",
  topic: "{{ lessons[item|int]['synopisis']|join('、 ') }}",
}

var {{ lesson_name }}{{ item }}r0 = [
  qContent,
];

{# item is passed in as string and need to be int. #}
{% set item = item|int %}
{# with other medium, post qa id is 1. #}
{% set post_qa_resource_id = 1 %}
{% if interactives[item] is defined %}
{% set post_qa_resource_id = lessons[item].media|length + post_qa_resource_id %}
var {{ lesson_name }}{{ item }}r{{ post_qa_resource_id }} = [
  qContent,
];

{% for resource in interactives[item] %}
var {{ lesson_name }}{{ item }}{{ resource }} = [
{% set resource_obj = interactives[item][resource] %}
{% for qa in resource_obj %}
  { 
    qType : "{{ qa.type }}",
    question: "{{ qa.q }}",
    answers: {
{% set letters = ['a', 'b', 'c', 'd', 'e', 'f','g','h','i'] %}
{% for i in range(qa.a|length) %}
      {{ letters[i] }}: "{{ qa.a[i] }}",
{% endfor %}
    },
    correctAnswer: "{{ qa.correct_a }}"
  },
{% endfor %}
]

{% endfor %}
{% else %}
ansibleDebugging = "resource is not defined."
{% endif %}