<?php
define('__MAINDIR__', __DIR__ . "/../../");
require_once(__MAINDIR__ . 'components/lesson-cookie-header.php');
require_once(__MAINDIR__ . 'html-top.php');
require_once(__MAINDIR__ . '{{ module_name }}/lesson-title.php');
require_once(__MAINDIR__ . 'components/lesson-header.php');
require_once(__MAINDIR__ . 'components/menu.php');
require_once(__MAINDIR__ . 'components/lesson/timelineFrame.php');

?>
<script>
  var lesNum = {{ item }}; //lesson id number
  var lesNameId = "{{ lesson_name }}" + lesNum; //no manual change!

  window[lesNameId] = [{
      tit: '',
      type: 2,
      overview: ['ཁྱེད་རང་གིས་སློབ་ཚན་མ་སྦྱང་སྔོན་དུ་ནང་དོན་ལ་ཆ་རྒྱུས་ག་ཚོད་བྱས་ཡོད་པར་ལྟ་བ།'],
      qEnd: false,
    },
{% for medium in lessons[item|int-1].media %}
    {
{% if medium.title is defined %}
{% set medium_tit = medium.title %}
{% else %}
{% set medium_tit = "" %}
{% endif %}
      tit: '{{ medium_tit }}',
      type: {{ medium.type }},
{% if medium.overview is defined %}
      overview: [{% for view in medium.overview %}"{{ view }}", {% endfor %}],
{% else %}
      overview: [],
{% endif %}
    },
{% endfor %}
    {
      tit: '',
      type: 2,
      overview: ['ཁྱེད་རང་གིས་སློབ་ཚན་སྦྱངས་ཚར་བའི་རྗེས་སུ་ག་ཚོད་ཤེས་ཡོད་པར་ལྟ་བ།'],
      qEnd: true,
    },
  ];
</script>
<?php
require_once(__MAINDIR__ . 'components/lesson/timelineBuilder.php');
?>
<script defer type="text/javascript" src="res/data.js"></script>
<?php
require_once(__MAINDIR__ . 'html-end.php');
?>